* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #333;
    color: white;
    font-size: 15px;
}

button:hover {
    background: #555;
}

ul {
    list-style: none;
}

li {
    background: #f1f1f1;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: #d9534f;
    padding: 7px 10px;
}

.delete-btn:hover {
    background: #c9302c;
}